<center><h1>Test results for <%=@test.name%></h1></center>

You answered 'yes' for <%= @yes %> in a total of <%= @questions %> questions.<br />
That makes you <%= "%.2f" % @pure_percent %>% pure. (That is, <%= "%.2f" % @kinky_percent %>% pervert).
